In [1]:
import pandas as pd

## We need to focus on 2 main data types:

### 1st one is: 
series = pd.Series(["BMW", "Toyota", "Honda"])

In [6]:
series = pd.Series(["BMW", "Toyota" , "Honda"])

In [7]:
series

0       BMW
1    Toyota
2     Honda
dtype: object

## series = 1-dimesional 
That means one column

In [8]:
colours = pd.Series(["Red", "Blue", "White"])
colours

0      Red
1     Blue
2    White
dtype: object

## Difference between series and data frame:
As we saw previously, series is 1-dimensional and data frame is 2-dimensional, that means more than one column.
*A data frame is far more common than a series, since it has more than one column.*

In [9]:
# Let's create a data frame, we can call this "Car Data". *Note: a data frame is different because it takes the python dictionary*
# We can also create data frames out of series

car_data = pd.DataFrame({"Car make": series, "Colour": colours})
car_data

  Car make Colour
0      BMW    Red
1   Toyota   Blue
2    Honda  White

## Tip:
### Creating data frame from scratch sometimes doesn't look good, so we usually rather than creating data frame from some series, we importat data. 
- Data is usually in csv file, it could be structure, could be unstructured, so we will import the data through a code, once it's been placed in our project environment folder.

In [13]:
#Import Data

car_sales = pd.read_csv("car_sales.csv")

In [14]:
car_sales

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00

In [ ]:
## Exporting a dataframe
car_sales.to_csv("exported-car-sales.csv")